.first{
    background-color:orange;
    height:20vh;
    width:50%;
    
}
.second{
    background-color:white;
    height:20vh;
    width:50%;
  
}
.third{
    background-color:green;
    height:20vh;
    width:50%;
   
}
