.container{
    background-image:url("https://wonderfulengineering.com/wp-content/uploads/2014/10/image-wallpaper-15.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    
    
}
.text{
    opacity: 0;
    color:bisque;
    font-size: 20px;
    backdrop-filter: blur(10px);
    height:100%;
    transition: all 1s linear 0s;
}
.container:hover .text{
    opacity: 1;
}