.container{
    width:800px;
    height:90vh;
    position:relative;
    overflow:hidden;
    margin-left: 20%;
    margin-top:3%;

}
.image1{
    width:100%;
    height:100%;
   
    } 
    .image2{
        opacity:0;
        transform:translateX(300px);
        position:absolute;
        top:0px;
        right:0px;
        height:100%;
        
    }
    .container:hover>.image2{
        opacity:1;
        width:100%;
        height:100%;
        transform:translatex(0px);
        transition:all 1.5s linear 0s;
    }