

.box {
    
    width: 270px;
    border: 1px solid rgb(152, 149, 149);
    border-radius: 10px;
    padding:10px;
    overflow:hidden;
    margin-left: 20px;
   
   
   
}
 .image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.container{
    display: flex;
    align-items: center;
    
}
h1{
    margin: 0%;
}
button{
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

